html {
  height: -webkit-fill-available;
}

body {
  background: lemonchiffon;
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;
}

body,
#map {
  padding: 0;
  margin: 0;
}

#date,
#date h2 {
  margin: 0;
}

#date,
#map,
#submit {
  box-sizing: border-box;
  overflow: auto;
  transition: all 1000ms ease;
}

#map,
#date {
  pointer-events: none;
  user-select: none;
}

#date section {
  pointer-events: auto;
  user-select: auto;
}

#map {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#date {
  display: block;
  filter: invert(0);
  mix-blend-mode: difference;
  width: calc(100% - 2.5rem);
}

#submit {
  width: 100%;
}

#date,
#submit {
  position: absolute;
  z-index: 10;
  height: 100%;
}

#date h2 {
  color: #fff;
  font-family: "Kristina", "Gill Sans", sans-serif;
  font-weight: 400;
}

address {
  background: #fff;
  display: inline;
  font-family: "DiaPro", sans-serif;
  font-size: 100%;
  font-style: normal;
}

#date section {
  color: #fff;
  background: #000;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: 95%;
}

#date button {
  filter: invert(1);
}


@media (orientation: landscape) {
  body {
    font-size: 16px;
  }

  #date {
    padding: 0.5rem;
  }

  #date h2 {
    font-size: 150%;
  }

  button {
    padding: 0.5rem 1rem;
  }
}


@media (orientation: portrait) {
  body {
    font-size: 3.21vw;
  }

  #date {
    padding: 1vw;
  }

  #date h2 {
    font-size: 130%;
  }

  button {
    padding: 1.25vw 2.5vw;
  }
}

button {
  appearance: none;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  outline: none;
  font-size: 150%;
  word-break: keep-all;
}

.marker {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('../profile/icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
