body {
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  height: 100vh;
  max-height: -webkit-fill-available;
}

#map {
  padding: 0;
  margin: 0;
}

#date {
  margin: 0;
}

a,
#date,
#map,
#submit {
  transition: all 1000ms ease;
}

#date,
#map,
#submit {
  box-sizing: border-box;
  overflow: auto;
}

#map,
#date {
  pointer-events: none;
  user-select: none;
}

#date a {
  pointer-events: auto;
  user-select: auto;
}

#map {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#date {
  display: block;
  width: calc(100% - 2.5rem);
}

#submit {
  width: 100%;
}

#date,
#submit {
  position: absolute;
  z-index: 10;
  height: 100%;
}

#date h2 {
  color: lemonchiffon;
  text-shadow:
  1px 1px 1px lightskyblue,
  2px 2px 2px lightskyblue,
  3px 3px 3px lightskyblue;
  font-family: "Kristina", 'IBM Plex Sans JP', sans-serif;
  font-size: 200%;
  font-weight: 400;
}

#date address {
  color: lightskyblue;
  background: lemonchiffon;
  display: inline;
  font-family: "DiaPro", sans-serif;
  font-size: 100%;
  font-style: normal;
}

#date section {
  color: #000;
  font-weight: 400;
  font-size: 111%;
}

#date section time {
  font-size: 75%;
}


@media (orientation: landscape) {
  #date {
    padding: 0.5rem;
  }

  #date section {
    font-size: 111%;
  }
}


@media (orientation: portrait) {
  #date {
    padding: 1vw;
  }

  #date section {
    font-size: 95%;
  }
}
