#map .goout {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('../profile/icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#map .pehu {
  border: none;
  cursor: pointer;
  height: 55px;
  width: 55px;
}

#map .pehu::before {
  content: "∧°┐";
  display: block;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

#map .heard {
  border: none;
  cursor: pointer;
  height: 55px;
  width: 55px;
}

#map .heard::before {
  color: #fff;
  background-color: #CDCBCC;
  content: "i (we)";
  font-size: 1rem;
  text-align: center;
  padding: 0.25rem;
  width: 100%;
}

#collection a {
  color: lightskyblue;
  background: lemonchiffon;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}

#collection a:hover {
  filter: grayscale(90%);
}

#collection a i {
  font-size: 100%;
}

#collection a b {
  font-size: 175%;
}


@media (orientation: landscape) {
  #collection a {
    padding: 0.5rem;
  }
}


@media (orientation: portrait) {
  #collection a {
    padding: 1vw;
  }
}
