#map .marker {
  background: lemonchiffon;
  border: lightskyblue solid 2px;
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

#map .goout {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('../profile/icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#map .pehu {
  border: none;
  cursor: pointer;
  height: 55px;
  width: 55px;
}

#map .pehu::before {
  content: "∧°┐";
  display: block;
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
}

#map .heard {
  border: none;
  cursor: pointer;
  height: 55px;
  width: 55px;
}

#map .heard::before {
  color: #fff;
  background-color: #CDCBCC;
  content: "i (we)";
  font-size: 1rem;
  text-align: center;
  padding: 0.25rem;
  width: 100%;
}

.mapboxgl-popup-content a {
  color: lightskyblue;
  background: lemonchiffon;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}

.mapboxgl-popup-content a:hover {
  filter: grayscale(90%);
}

.mapboxgl-popup-content strong {
  font-size: 111%;
}

.mapboxgl-popup-content a {
  font-size: 125%;
}

.mapboxgl-popup-content {
  color: #000;
  text-decoration: none;
}

.mapboxgl-popup p {
  margin: 0.5rem 0 0;
}

.mapboxgl-popup-content strong {
  font-family: "DiaPro", 'IBM Plex Sans JP', sans-serif;
}

.mapboxgl-popup-content a {
  font-family: "Kristina", 'IBM Plex Sans JP', sans-serif;
  padding: 0.25rem;
}

.mapboxgl-popup-close-button {
  margin: 0;
}


@media (orientation: landscape) {
  .mapboxgl-popup-close-button {
    padding: 0.5rem;
  }
}


@media (orientation: portrait) {
  .mapboxgl-popup-close-button {
    padding: 1vw;
  }
}
