.marker {
  border: none;
  cursor: pointer;
  height: 55px;
  width: 55px;
  background-size: 100%;
  background-position: center;
  background-image: url('../profile/icon.png');
  background-repeat: no-repeat;
}

.mapboxgl-popup-content {
  font-family: "Yu Gothic", "Gill Sans", sans-serif;
  text-transform: uppercase;
}

.mapboxgl-popup-content h3 {
  background: lemonchiffon;
  color: lightskyblue;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: lemonchiffon;
}

/* Marker tweaks */

.mapboxgl-popup {
    padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
    display: block;
    position: fixed;
    top: -1rem;
    right: -0.5rem;
    font-size: 2rem;
}

.mapboxgl-popup-content {
    font: 400 15px/22px;
    padding: 0;
    width: 55vw;
    max-width: 250px;
}

.mapboxgl-popup-content h3 {
    margin: 0;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
}

.mapboxgl-popup-content h4 {
    margin: 0;
    padding: 10px;
    font-weight: 400;
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}
