#submit {
  background: rgba(255,250,205,0.25);
}

#submit form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 90%;
  max-width: 750px;
}

h3 {
  font-family: "DiaPro", sans-serif;
  padding: 0;
  margin: 0;
}

h3 span {
  color: #000;
  font-size: 125%;
  text-decoration: lightskyblue wavy underline;
}

h3 b {
  background-color: lightskyblue;
  color: lemonchiffon;
  font-size: 150%;
  line-height: 150%;
}

#submit input,
#submit textarea {
  border: 1px solid lightskyblue;
  box-sizing: border-box;
  background: #fff7;
  font-family: "Gill Sans", sans-serif;
  font-size: 125%;
  width: 100%;

}


@media (orientation: landscape) {
  #submit,
  #submit input,
  #submit textarea {
    padding: 0.5rem;
  }

  h3 span,
  h3 b {
    margin: 0.25rem 0.25rem 0.25rem 0;
  }
}


@media (orientation: portrait) {
  #submit,
  #submit input,
  #submit textarea {
    padding: 1vw;
  }

  h3 span,
  h3 b {
    margin: 0.5vw 0.5vw 0.5vw 0;
  }
}
