#submit {
  background: rgba(255,250,205,0.25);
}

#submit form,
#submit #credit {
  width: 90%;
  max-width: 750px;
}

#submit summary,
#submit #credit::after {
  font-family: "Kristina", 'IBM Plex Sans JP', sans-serif;
}

h3 {
  font-family: "DiaPro", sans-serif;
}

#submit textarea {
  font-family: 'IBM Plex Sans JP', sans-serif;
}

h3 span,
#submit #readme a {
  color: #000;
  font-size: 125%;
  text-decoration: lightskyblue wavy underline;
}

h3 b,
#submit summary {
  background-color: lightskyblue;
  color: lemonchiffon;
  font-size: 150%;
  line-height: 150%;
}

#submit #credit a {
  font-size: 125%;
  text-decoration: none;
}

#submit button {
  font-size: 250%;
}

#submit textarea {
  border: 1px solid lightskyblue;
  box-sizing: border-box;
  background: #fff7;
  font-size: 1.25rem;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#submit #credit {
  margin: auto;
}

#submit #credit nav {
  display: flex;
  font-size: 111%;
  flex-flow: wrap;
  justify-content: space-between;
}

#submit #credit p {
  margin: 0;
  line-height: 150%;
}

#submit #credit::after {
  box-sizing: border-box;
  content: "Copyright © You. All Rights Reserved.";
  display: block;
  font-size: 100%;
  text-align: center;
  width: 100%;
}

#submit #close {
  font-size: 300%;
  position: fixed;
  top: 0;
  right: 0;
}


@media (orientation: landscape) {
  h3 span,
  h3 b {
    margin: 0.25rem 0.25rem 0.25rem 0;
  }

  #submit #readme,
  #submit summary,
  #submit textarea,
  #submit #credit p,
  #submit #credit::after {
    padding: 0.5rem;
  }

  #submit button {
    margin-bottom: 1rem;
  }

  #submit form {
    border-radius: 0.5rem;
    margin: 20vh auto 5.5rem;
  }

  #submit #credit::after {
    margin-top: 1rem;
  }
}


@media (orientation: portrait) {
  h3 span,
  h3 b {
    margin: 0.5vw 0.5vw 0.5vw 0;
  }

  #submit #readme,
  #submit summary,
  #submit textarea,
  #submit #credit p,
  #submit #credit::after {
    padding: 1vw;
  }

  #submit button {
    margin-bottom: 2.5vw;
  }

  #submit form {
    border-radius: 1vw;
    margin: 35vw auto 17.5vw;
  }

  #submit textarea {
    font-size: 1rem;
  }

  #submit #credit::after {
    margin-top: 2vw;
  }
}
