body {
  height: 100vh;
  max-height: -webkit-fill-available;
}

body,
#date #title {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#date #title {
  pointer-events: none;
  user-select: none;
}

#date {
  background: lemonchiffon;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#date #geolocation {
  color: #fff;
  margin: 0;
  mix-blend-mode: difference;
  font-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

#date #title {
  animation: .5s infinite alternate play;
  -webkit-animation: .5s infinite alternate play;
  color: lightskyblue;
  font-size: 555%;
  font-weight: 900;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 5);
  -webkit-transform: translate(-50%, -50%) scale(1, 5);
  width: 100%;
  z-index: 1;
}

#date #enter {
  appearance: none;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-size: 125%;
  outline: none;
  padding: 0.5vw 1.5vw;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-decoration: none;
  word-break: keep-all;
  z-index: 10;
}

#map {
  background: lightskyblue;
  border: none;
  position: relative;
  z-index: 10;
}

@media (orientation: landscape) {
  body {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #date #geolocation {
    padding: 0.25rem;
  }

  #date #enter {
    padding: 0.5rem 1rem;
  }

  #date,
  #map {
    width: 50%;
    height: 100%;
  }

  @keyframes play {
    from {
      transform: translate(-50%, -50%) scale(1, 5);
      letter-spacing: 0.25rem;
    }
    to {
      transform: translate(-50%, -50%) scale(0.75, 5);
      letter-spacing: -0.25rem;
    }
  }

  @-webkit-keyframes play {
    from {
      transform: translate(-50%, -50%) scale(1, 5);
      letter-spacing: 0.25rem;
    }
    to {
      transform: translate(-50%, -50%) scale(0.75, 5);
      letter-spacing: -0.25rem;
    }
  }
}

@media (orientation: portrait) {
  body {
    font-size: 3.21vw;
    display: grid;
    place-items: center;
  }

  #date #geolocation {
    padding: 1vw;
  }

  #date #enter {
    padding: 1.25vw 2.5vw;
  }

  #date,
  #map {
    width: 100%;
    height: 100%;
  }

  @keyframes play {
    from {
      transform: translate(-50%, -50%) scale(1, 5);
      letter-spacing: 2.5vw;
    }
    to {
      transform: translate(-50%, -50%) scale(0.75, 5);
      letter-spacing: -0.5vw;
    }
  }

  @-webkit-keyframes play {
    from {
      transform: translate(-50%, -50%) scale(1, 5);
      letter-spacing: 2.5vw;
    }
    to {
      transform: translate(-50%, -50%) scale(0.75, 5);
      letter-spacing: -0.5vw;
    }
  }
}
