body {
  height: 100vh;
  max-height: -webkit-fill-available;
}

main {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

#coordinates {
  pointer-events: none;
  user-select: none;
  z-index: 5;
}

#back,
#coordinates h1.submit,
#coordinates details {
  pointer-events: auto;
  user-select: auto;
}

#submit {
  z-index: 10;
}

input[type="button"],
#map {
  position: fixed;
  top: 0;
  margin: 0;
}

h1,
h1 b,
input[type="button"] {
  font-weight: 400;
}

h1  {
  font-size: 222%;
}

#coordinates summary  {
  font-size: 175%;
}

h1 b,
#timestamp {
  font-size: 125%;
}

h1 u {
  font-size: 100%;
  font-style: normal;
}

h1 {
  color: lemonchiffon;
}

h1 u,
#coordinates summary {
  background: lightskyblue;
  color: lemonchiffon;
  text-decoration: none;
}

h1,
#timestamp {
  font-family: "Kristina", 'IBM Plex Sans JP', sans-serif;
}

h1 u,
h1 small,
#coordinates summary {
  font-family: "DiaPro", 'IBM Plex Sans JP', sans-serif;
}

h1,
h2 {
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5rem;
}

h3 {
  background: lemonchiffon;
  font-size: 125%;
}

h3 a {
  font-size: 150%;
}

#geocoder,
#datetime {
  margin: 0.5rem
}

#back {
  right: 0;
  height: 70px;
  width: 70px;
  background-image: url('../profile/icon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#close {
  right: 0;
  z-index: 10;
}

#geocoder {
  max-width: calc(100% - 85px);
}

#coordinates h1:hover {
  cursor: pointer;
}

#coordinates address {
  font-style: normal;
  font-size: 75%;
  line-height: 125%;
}

#coordinates b {
  display: inline-block;
  padding: 0;
  margin: 0.25rem 0;
  word-break: break-all;
}

#datetime {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
  color: rgba(0, 0, 0, 0.75);
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 0.5rem;
}

#coordinates details {
  background: #fff7;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  max-height: 100%;
  z-index: 10;
}

#map {
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  z-index: 1;
}


@media (orientation: landscape) {
  h3,
  #coordinates summary,
  #coordinates section {
    padding: 0.5rem;
  }

  input[type="button"] {
    padding: 0 0.5rem;
  }

  h1 b,
  h3 a,
  #close,
  #timestamp {
    color: lemonchiffon;
    text-shadow:
    1px 1px 1px lightskyblue,
    2px 2px 2px lightskyblue,
    3px 3px 3px lightskyblue;
  }
}


@media (orientation: portrait) {
  h3,
  #coordinates summary,
  #coordinates section {
    padding: 1vw;
  }

  input[type="button"] {
    padding: 0 1vw;
  }

  h1 b,
  h3 a,
  #close,
  #timestamp {
    color: lemonchiffon;
    text-shadow:
    0.1vw 0.1vw 0.1vw lightskyblue,
    0.2vw 0.2vw 0.2vw lightskyblue,
    0.3vw 0.3vw 0.3vw lightskyblue,
    0.4vw 0.4vw 0.4vw lightskyblue,
    0.5vw 0.5vw 0.5vw lightskyblue;
  }
}

#readme.about {
  box-sizing: border-box;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: auto;
  width: 100%;
  height: 111vw;
  max-height: 70vh;
}
