@font-face {
  font-family: "Kristina";
  src: url("Kristina.Bold.otf") format("opentype"),
  url("Kristina.Fine.otf") format("opentype");
}

.goout {
  font-family: "Kristina", cursive;
}

@font-face {
  font-family: "DiaPro";
  src: url("DiaPro-Regular.eot") format("embedded-opentype"),
  url("DiaPro-Regular.otf") format("opentype"),
  url("DiaPro-Regular.woff") format("woff");
}

.relax {
  font-family: "DiaPro", sans-serif;
}

.heard {
  font-family: 'Libre Baskerville', serif;
}

.do {
  font-family: 'Mochiy Pop One', sans-serif;
}

.sports {
  font-weight: 500;
  font-size: 75%;
  font-family: "Gill Sans";
  text-transform: uppercase;
}

.sports a {
  animation: 2s linear infinite alternate sports;
}

.sports a:hover {
  cursor: pointer;
  animation: .25s linear infinite alternate sports;
}

@keyframes sports {
  0% {
    color: #333;
    background: #DCF7EE;
  }
  100% {
    color: #DCF7EE;
    background: #333;
  }
}


@-webkit-keyframes sports {
  0% {
    color: #333;
    background: #DCF7EE;
  }
  100% {
    color: #DCF7EE;
    background: #333;
  }
}
