@font-face {
  font-family: "Kristina";
  src: url("Kristina.Bold.otf") format("opentype"),
  url("Kristina.Fine.otf") format("opentype");
}

.goout {
  font-family: "Kristina", 'IBM Plex Sans JP', sans-serif;
}

.goout a {
  color: lightskyblue;
  background-color: lemonchiffon;
}

.goout a:hover {
  color: lemonchiffon;
  background-color: lightskyblue;
}

@font-face {
  font-family: "DiaPro";
  src: url("DiaPro-Regular.eot") format("embedded-opentype"),
  url("DiaPro-Regular.otf") format("opentype"),
  url("DiaPro-Regular.woff") format("woff");
}

.relax {
  font-family: "DiaPro", 'IBM Plex Sans JP', sans-serif;
}

.relax a {
  color: #000;
  background-color: #ebd809;
}

.relax a:hover {
  color: #ebd809;
  background-color: #000;
}

.heard {
  font-family: 'Libre Baskerville', serif;
}

.heard a {
  color: #fff;
  background-color: #CDCBCC;
  font-style: italic;
}

.heard a:hover {
  color: #CDCBCC;
  background-color: #fff;
}

.do {
  font-family: 'Mochiy Pop One', sans-serif;
}

.sports {
  font-weight: 500;
  font-size: 75%;
  font-family: "Gill Sans";
  text-transform: uppercase;
}

.sports a {
  animation: 2s linear infinite alternate sports;
}

.sports a:hover {
  cursor: pointer;
  animation: .25s linear infinite alternate sports;
}

@keyframes sports {
  0% {
    color: #333;
    background: #DCF7EE;
  }
  100% {
    color: #DCF7EE;
    background: #333;
  }
}


@-webkit-keyframes sports {
  0% {
    color: #333;
    background: #DCF7EE;
  }
  100% {
    color: #DCF7EE;
    background: #333;
  }
}

@font-face {
  font-family: "MS Mincho";
  src: url("https://creative-community.space/ver/font/MSMincho.ttc");
}

@font-face {
  font-family: "SimSong";
  src: url("https://creative-community.space/ver/font/SimSun.ttc");
}

.pehu {
  font-family: "MS Mincho", "SimSong", serif;
}

.pehu a {
  background: #fff;
  color: #000;
  text-decoration: none;
}
