* {
  box-sizing: border-box;
}

#essay section {
  background: #fff;
}

#essay h1 b,
#essay mark {
  color: lightskyblue;
  background: lemonchiffon;
  font-size: 111%;
}

main h2 small {
  color: lemonchiffon;
  background: lightskyblue;
  font-size: 75%;
}

#back:hover {
  color: #fff;
}

#back {
  font-size: 200%;
  float: right
}

@media (orientation: landscape) {
  body {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100vw;
    max-height: -webkit-fill-available;
  }

  main,
  article {
    height: 100%;
    overflow: auto;
  }

  main {
    width: 40%;
    max-width: 450px;
  }

  article {
    width: calc(100% - 450px);
    min-width: 60%;
  }

  #essay,
  main h2,
  main section {
    padding: 0.5rem;
  }

  #essay section {
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 0 1.25rem;
  }

  #back {
    padding: 0.25rem;
  }
}


@media (orientation: portrait) {
  main h2,
  main section {
    padding: 1vw;
  }

  #essay section {
    border-radius: 2.5vw;
    padding: 2.5vw;
    margin: 5vw;
  }

  #collection {
    margin-top: 2vw;
  }

  #back {
    padding: 1vw;
  }
}
